@keyframes comeForth {
  0% {
    opacity: 0;
    transform: translateZ(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit for better practice */
  box-sizing: inherit; }

html {
  /* converted to  10px so it's easier to use rem values */
  /* 10px is 62.5% of the root default size (16px) */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.7;
  padding: 3rem;
  background: linear-gradient(217deg, rgba(255, 150, 94, 0.8), rgba(255, 142, 94, 0) 70.71%), linear-gradient(127deg, rgba(194, 229, 156, 0.8), rgba(194, 229, 156, 0) 70.71%), linear-gradient(336deg, rgba(100, 179, 244, 0.8), rgba(100, 179, 244, 0) 70.71%); }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    animation-name: comeForth;
    animation-duration: 2.3s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.8rem;
    font-weight: 300;
    animation-name: appear;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards; }

.btn--white {
  background-color: rgba(255, 255, 255, 0.9);
  color: #777;
  font-size: 1.4rem; }
  .btn--white::after {
    background-color: rgba(255, 255, 255, 0.9); }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .7s; }

.btn--animated {
  animation-name: moveUp;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.row {
  max-width: 114rem;
  background-color: #eee;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    background-color: orangered;
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(10, 9, 12, 0.1), rgba(0, 0, 0, 0.1)), url(../img/hero.JPG);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header__profilePic-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__profilePic {
    height: 18rem;
    border-radius: 1rem;
    transition-property: border-radius, transform;
    transition-duration: 1.3s, 1.1s; }
    .header__profilePic:hover {
      transform: scale(1.2);
      border-radius: 10rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(240, 151, 119, 0.3);
    width: 60vw;
    margin-bottom: 6rem;
    text-align: center; }
    .header__text-box h1 {
      text-shadow: .2rem .1rem #858585; }
