@charset "UTF-8";
/*
0 - 576pxpx: Phone
576px - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800px] where normal styles apply
1800px + : Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components 

1em = 16px
*/
@keyframes comeForth {
  0% {
    opacity: 0;
    transform: translateZ(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp2 {
  from {
    opacity: 0;
    transform: translateY(2rem); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes appear {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes arrowGone {
  from {
    transform: rotate(0deg) translateX(-100%); }
  25% {
    transform: rotate(360deg);
    color: cyan; }
  30% {
    transform: translateY(3em); }
  75% {
    transform: scale(0); }
  80% {
    transform: translateY(0em) scale(0.1); }
  95% {
    transform: scale(1.5); }
  to {
    transform: scale(1) translateX(-100%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit for better practice */
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  /* converted to  10px so it's easier to use rem values */
  /* 10px is 62.5% of the root default size (16px) */
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 60%; } }
  @media only screen and (max-width: 56.26em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.26em) {
    body {
      padding: 0; } }

body {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  /*font-size: 16px;*/
  line-height: 1.7;
  background: linear-gradient(217deg, rgba(63, 94, 251, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(89, 193, 115, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(255, 195, 113, 0.8), rgba(0, 0, 255, 0) 70.71%); }

.heading-primary {
  color: #fff; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 300;
    animation-name: comeForth;
    animation-duration: 2.3s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 48em) {
      .heading-primary--main {
        font-size: 5.5rem; } }
    @media only screen and (max-width: 36em) {
      .heading-primary--main {
        font-size: 5rem; } }
    @media only screen and (max-width: 30em) {
      .heading-primary--main {
        font-size: 4rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    animation-name: appear;
    animation-duration: 1.5s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 36em) {
      .heading-primary--sub {
        font-size: 2rem; } }
    @media only screen and (max-width: 56.26em) {
      .heading-primary--sub {
        font-size: 2.5rem; } }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  padding: 1rem 5rem;
  display: inline-block; }

[class^="section-"] .heading-secondary {
  background-image: linear-gradient(to right, #588585, #ff456a);
  -webkit-background-clip: text;
  border-radius: 0 500rem 10rem 0;
  text-shadow: 0.5px 0.5px 1.2em rgba(0, 0, 0, 0.25);
  color: transparent;
  transition: all 1s; }

[class^="section-"]:hover .heading-secondary {
  background-image: linear-gradient(to right, #588585, #ff456a);
  -webkit-background-clip: unset;
  color: #f7f7f7;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.85);
  animation: moveUp 300ms ease-in-out; }

.line {
  background-image: linear-gradient(to right, #588585, #ff456a);
  width: inherit;
  height: .5rem;
  opacity: .75; }
  @media only screen and (max-width: 36em) {
    .line {
      height: .2rem; } }

[class^="col-"] {
  transition: all 1s;
  font-weight: 400;
  letter-spacing: 0.0625em; }

.heading-terciary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff456a;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.85);
  transition: color 200ms ease-in-out, text-shadow 250ms linear; }
  @media only screen and (max-width: 48em) {
    .heading-terciary {
      font-size: 2.6rem; } }

.feature-box:hover .heading-terciary {
  color: #f7f7f7;
  text-shadow: 0.2em 0.2em 0.1em #ff456a; }

.paragraph {
  font-size: 1.6rem;
  line-height: 1.4; }
  @media only screen and (max-width: 36em) {
    .paragraph {
      font-size: 2rem; } }
  .paragraph br {
    margin-bottom: .6em; }

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3em;
  font-weight: 600;
  padding: .5em;
  color: #FF1845;
  right: 0; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-8-minus {
  margin-top: -8rem; }

.arrow-gone {
  animation: arrowGone 1.25s ease-in-out; }

.btn--white .arrow-down {
  fill: none;
  stroke: #fff;
  stroke-width: 36;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 300ms ease-in; }

.btn--white:hover .arrow-down {
  stroke: #FF1845; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .7s; }

.btn--animated {
  animation-name: moveUp;
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2); }

.btn:focus, .btn-text:focus {
  outline: none;
  box-shadow: 0 0 0 0.25em #FF1845; }

::-moz-focus-inner {
  border: 0; }

.btn-text {
  border-radius: .8rem;
  padding: .5em 1em !important; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.6rem;
    color: #ff456a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #ff456a;
    padding: 3px;
    transition: all .2s; }
  .btn-text:hover {
    background-color: #ff456a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px); }
  .btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0px); }
  .btn-text img {
    width: 2rem;
    height: 2rem; }
    .btn-text img svg {
      fill: blue; }

a, a:hover, a:focus, a:active {
  outline: 0;
  text-decoration: none;
  color: inherit; }

.buttons-container {
  /*     margin-top: 2em;

    &:first-of-type{
        margin-bottom: 2.5em;
    }
    & a {
        margin: 0;
        &:not(last-child){
            margin-right: 1.4em;
        }
    } */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0; }

.btn-social-icon:hover .social-icon, .btn-social-icon:focus .social-icon {
  fill: white;
  /* box-shadow: 0 .5rem .5rem rgba($color-pink, .25); */ }

.social-icon {
  aspect-ratio: 1;
  height: 5rem;
  fill: #ff456a;
  border-radius: 50%;
  transition: fill 300ms ease-in-out; }

.inner-social-icon {
  fill: black; }

.btn-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: relative; */
  /* width: 45%; */
  text-decoration: none;
  border-radius: .8rem;
  outline: 1px solid #ff456a;
  /* margin: 2rem auto 0 !important; */
  padding: 0 !important;
  padding-inline-start: 1rem;
  padding-inline-end: 0 !important;
  overflow: hidden; }
  .btn-download .btn-download-cv, .btn-download .download-arrow {
    /* position: absolute; */
    /* display: block; */
    /* height: 100%; */
    text-align: center;
    transition: all 300ms ease-in-out; }
  .btn-download .btn-download-cv {
    color: #ff456a;
    padding: 0 1rem;
    font-size: 2rem;
    font-weight: bold; }
  .btn-download .download-arrow {
    background-color: #ff456a;
    display: -webkit-inline-box;
    padding: 1rem;
    vertical-align: baseline; }
    .btn-download .download-arrow .arrow {
      height: 3rem; }
  .btn-download:hover, .btn-download:focus {
    outline-color: #ff456a;
    background-color: #ff456a; }
    .btn-download:hover .btn-download-cv, .btn-download:focus .btn-download-cv {
      transform: translateX(-20rem);
      color: #fff;
      /* width: 0; */ }
    .btn-download:hover .download-arrow, .btn-download:focus .download-arrow {
      /* width: 100%; */
      background-color: #ff456a;
      fill: #fff;
      transform: translateX(-150%) scale(1.5);
      /* transform: scaleX(2rem); */ }

@media only screen and (max-width: 48em) {
  .arrow-down {
    width: 40px;
    height: 40px; } }

.composition {
  position: relative;
  margin-top: 12rem; }
  .composition__photo {
    width: 68%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.8rem; }
    @media only screen and (min-width: 112.5em) {
      .composition__photo {
        width: 85%; } }
    @media only screen and (max-width: 56.26em) {
      .composition__photo {
        width: 40%; } }
    .composition__photo--p1 {
      left: -10%;
      top: -10rem;
      transform: rotate(22deg); }
      @media only screen and (max-width: 48em) {
        .composition__photo--p1 {
          left: 8%; } }
    .composition__photo--p2 {
      right: -2rem;
      top: 0rem;
      transform: rotate(-25deg); }
      @media only screen and (min-width: 112.5em) {
        .composition__photo--p2 {
          left: 19%; } }
      @media only screen and (max-width: 48em) {
        .composition__photo--p2 {
          left: 20%; } }
    .composition__photo--p3 {
      left: 9%;
      top: 3rem;
      transform: rotate(-4deg); }
      @media only screen and (min-width: 112.5em) {
        .composition__photo--p3 {
          left: 64%; } }
      @media only screen and (max-width: 48em) {
        .composition__photo--p3 {
          left: 50%;
          top: -4rem; } }
    .composition__photo:hover {
      outline: 1rem solid #ff456a;
      top: 1rem;
      transform: scale(1.3) rotate(0deg);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.92) rotate(0deg) translateY(-0.25rem); }

.section-features {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.75)), url("https://raw.githubusercontent.com/Claudiferock/Page/master/img/mökki.sunset.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative; }
  @media only screen and (max-width: 48em) {
    .section-features {
      background-size: fit;
      background-position: top; } }

.feature-box {
  background-color: rgba(58, 87, 87, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  height: 40rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.4);
  overflow: auto;
  scrollbar-color: #ff456a black;
  scrollbar-width: thin;
  transition: transform .3s; }
  .feature-box::-webkit-scrollbar {
    width: .5em;
    background-color: black; }
  .feature-box::-webkit-scrollbar-thumb {
    background-color: #ff456a;
    height: 60%;
    border: .01em solid black; }
  @media only screen and (max-width: 56.26em) {
    .feature-box {
      font-size: 2rem;
      padding: 2rem;
      margin: 2rem -2rem;
      height: 30rem; } }
  @media only screen and (max-width: 30em) {
    .feature-box {
      font-size: 2.2rem;
      padding: 2.4rem;
      margin: -6rem 0rem;
      height: 42rem; } }
  .feature-box__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right, #c2e59c, #ff456a);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
    transition: font-size 250ms ease-in-out; }
  .feature-box__text {
    color: #f7f7f7; }
  .feature-box:hover {
    transform: translateY(-1rem) scale(1.2);
    color: white;
    border: 0.24rem solid #ff5f7e;
    border-radius: 1rem;
    transition: all 145ms;
    box-shadow: 0.5rem 2rem 4rem rgba(0, 0, 0, 0.6);
    scrollbar-width: unset; }
    .feature-box:hover .feature-box__icon {
      font-size: 2rem;
      color: #ff456a; }
    @media only screen and (max-width: 48em) {
      .feature-box:hover {
        transform: translateY(0) scale(1); }
        .feature-box:hover .feature-box__icon {
          font-size: 4rem;
          color: #ff456a; } }

.row {
  max-width: 114rem;
  background-color: transparent;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.26em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.26em) {
    .row {
      max-width: 70rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 36em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.26em) {
      .row [class^="col-"] {
        width: 100% !important; } }
    @media only screen and (max-width: 36em) {
      .row [class^="col-"] {
        padding: 3rem; } }
    @media only screen and (max-width: 30em) {
      .row [class^="col-"] {
        padding: 6rem;
        width: 60%; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    color: #9ebfbf;
    padding: 3rem;
    border-radius: 1rem; }
    .row .col-1-of-2:not(:last-child) {
      background-color: #000;
      box-shadow: 2rem 5rem 4rem rgba(0, 0, 0, 0.6); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) /3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) /3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) /4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) /4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) /4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(65deg, rgba(0, 0, 0, 0.1) 75%, rgba(255, 173, 129, 0.25)), url("https://raw.githubusercontent.com/Claudiferock/Page/master/img/hero-land-small.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (min-width: 30em) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.1) 75%, rgba(109, 156, 57, 0.9)), url("https://raw.githubusercontent.com/Claudiferock/Page/master/img/hero-land-small.jpg"); } }
  @media only screen and (max-width: 36em) {
    .header {
      height: 85vh;
      clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%); } }
  @media only screen and (max-width: 30em) {
    .header {
      height: 65vh;
      clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%); } }
  .header__profilePic-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
    @media only screen and (max-width: 75em) {
      .header__profilePic-box {
        transform: translate(20%, 20%); } }
    @media only screen and (max-width: 36em) {
      .header__profilePic-box {
        margin-bottom: 8rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 100; } }
  .header__profilePic {
    height: 18rem;
    border-radius: 50%;
    transition-property: border-radius, transform;
    transition-duration: 1.3s, 1.1s;
    box-shadow: 0 0.2rem 0 0.15rem #ff456a; }
    @media only screen and (max-width: 48em) {
      .header__profilePic {
        border-radius: 50% 6% / 23% 40%; } }
    @media only screen and (max-width: 36em) {
      .header__profilePic {
        transform: scale(1.2);
        border-radius: 10rem;
        outline: none;
        box-shadow: 0 0.15rem 0 0.1rem #FF1845; } }
    @media only screen and (max-width: 30em) {
      .header__profilePic {
        transform: scale(1.1); } }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 69, 106, 0.75);
    border-radius: 5px;
    width: 60vw;
    padding: 3rem 0;
    margin-bottom: 6rem;
    text-align: center; }
    .header__text-box .btn {
      margin: 1.5em 0; }
    @media only screen and (max-width: 75em) {
      .header__text-box {
        margin-bottom: 8rem;
        width: 55vw;
        transform: translate(-25%, -50%); } }
    @media only screen and (max-width: 48em) {
      .header__text-box {
        margin-bottom: 8rem;
        transform: translate(-15%, -50%); } }
    @media only screen and (max-width: 36em) {
      .header__text-box {
        margin-bottom: 8rem;
        width: 80vw;
        transform: translate(-50%, -5%); } }
    @media only screen and (max-width: 30em) {
      .header__text-box {
        margin-bottom: 8rem;
        transform: translate(-50%, -5%); } }
    .header__text-box h1,
    .header__text-box h2 {
      text-shadow: .2rem .1rem #858585; }

.section-about {
  padding: 20rem 0;
  border-radius: 0 0 2rem 2rem;
  margin-top: -20vh; }
  @media only screen and (max-width: 30em) {
    .section-about {
      padding-top: 20vh; } }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(275deg, rgba(0, 0, 0, 0.2), rgba(255, 24, 69, 0.1));
  background-size: fit;
  transform: skewY(-7deg);
  margin-top: 20rem;
  padding-top: 10rem; }
  @media (min-width: 30em) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(255, 150, 94, 0.4));
      background-size: cover;
      margin-top: 10rem;
      padding-top: 10rem; } }
  @media (min-width: 56.26em) {
    .section-features {
      margin-top: -10rem;
      padding-top: 10rem; } }
  .section-features > * {
    transform: skewY(7deg); }
  .section-features h2 {
    text-shadow: 0.2rem 0.1rem rgba(0, 0, 0, 0.2); }
