// COLORS

$color-blue-light:#64b3f4;
$color-blue:#1A84DD;
$color-blue-dark:#055191;
$color-green-light: #c2e59c;
$color-green: #95C166;
$color-green-dark: #6D9C39;
$color-bluegreen: #588585;
$color-pink-light: #FF708C;
$color-pink: #ff456a;
$color-pink-dark: #FF1845;
$color-orange-light: #FFAD81;
$color-orange: #FF965E;
$color-orange-dark: #E77538;
$color-grey-light-1: #f7f7f7;
$color-grey-dark:#777;
$color-white:#fff;
$color-black:#000;
$color-gradient-green-pink: linear-gradient(to right, $color-green-dark, $color-pink);

// FONT
$default-font-size: 1.6rem;

// GRID

$grid-width: 114rem;
$gutter-vertical-big: 12rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-vertical-xs:2rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-small: 3rem;