.header {
    height: 95vh;
    background-image: linear-gradient(65deg, rgba($color-black, .7) 20%, rgba($color-orange, .4) 85%, rgba($color-black, .5) 50%, rgba($color-orange, .4) 95%), url("https://i.gyazo.com/63ce4032fc879e329d3b0b78fcc87dc4.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    @media (min-width: 30em) {
        background-image: linear-gradient(to right bottom, rgba(0,0,0,.25) 55%, rgba($color-orange, .65) 85%, rgba(0,0,0,.6) 40%, rgba($color-orange, .64) 9%), url("https://i.gyazo.com/6253a2f4e94eb1f0586a8e51a83ff269.jpg");
    }

    @include respond(phone-land) {
        height: 85vh;
        clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
    }

    @include respond(phone-port) {
        height: 65vh;
        clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    }

    //this replaces a separate .header__profilePic-box {...}
    &__profilePic-box {
        position: absolute;
        top: 4rem;
        left: 4rem;

        @include respond(tab-land) {
            transform: translate(20%, 20%);
        }

        @include respond(phone-land) {
            margin-bottom: $gutter-vertical;
            left: 50%;
            transform: translate(-50%);
            z-index: 100;
        }
    }

    // replace separate .header__profilePic {...}
    &__profilePic {
        height: 18rem;
        outline: $color-green-light double 2rem;
        outline-offset: 1rem;
        border-radius: 10% / 50%;
        transition-property: border-radius, transform;
        transition-duration: 1.3s, 1.1s;
        box-shadow: 0 .2rem 0 .15rem $color-pink;

        @include respond(tab-port-small) {
            border-radius: 50% 6% / 23% 40%;
            
        }

        @include respond(phone-land) {
            transform:scale(1.2);
            border-radius:10rem;
            outline: none;
            box-shadow: 0 .15rem 0 .1rem $color-pink-dark;
        }

        @include respond(phone-port) {
            transform:scale(1.1);
        }

        // replace separate .header__profilePic:hover {...}
        &:hover {
            transform:scale(1.2);
            //border: dotted $color-pink-dark;
            //border-width: 10px 4px;
            //border-radius: 10px 40px;
            border-radius:10rem;
            outline-offset: .6rem;
            box-shadow: 0 .15rem 0 .1rem $color-pink-dark;
            outline: lighten($color-green-light, 10%) dashed .4rem;
            animation-duration: 1.5s;
            transition: all 1s;

            @include respond(tab-port-small) {
                text-shadow: .2rem .1rem #858585;
            }

            @include respond(phone-land) {
                outline: none;
            }

            @include respond(phone-port) {
                outline-offset: -1.2rem;
                outline: $color-pink double .8rem;
                box-shadow: 0 .15rem 0 .1rem $color-pink-dark, .1rem .3rem 5rem .2rem $color-orange;
                border: double 4rem;
                border-color: $color-black;
                transform: rotate(65deg);
                transition: all 2s;
            }
        }
    }
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-40%, -50%);
        background-color: rgba($color-orange-dark, .5);
        width: 60vw;
        margin-bottom: 6rem;
        text-align: center;

        @include respond(tab-land) {
            margin-bottom: $gutter-vertical;
            width: 55vw;
            transform: translate(-25%, -50%);
        }

        @include respond(tab-port-small) {
            margin-bottom: $gutter-vertical;
            transform: translate(-15%, -50%);
        }

        @include respond(phone-land) {
            margin-bottom: $gutter-vertical;
            width: 80vw;
            transform: translate(-50%, -5%);
        }

        @include respond(phone-port) {
            margin-bottom: $gutter-vertical;
            transform: translate(-50%, -5%);
        }

        h1,
        h2 {
            text-shadow: .2rem .1rem #858585;
        }
    }
}
