.section-features {
    background-image: linear-gradient(to right bottom, rgba(0,0,0,.25) 75%, rgba(0, 0, 0, .75)), url("https://raw.githubusercontent.com/Claudiferock/Page/master/img/mökki.sunset.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    
    @include respond(tab-port-small) {
        background-size: fit;
        background-position: top;
    }
}

.feature-box {
    background-color: darken(rgba($color-bluegreen, .5), 15%);
    backdrop-filter: blur(.215rem);
    font-size:1.5rem;
    padding:2.5rem;
    height: 40rem;
    text-align:center;
    border-radius:3px;
    box-shadow: 0 1.5rem 3rem rgba($color-black, .4);
    overflow: auto;
    scrollbar-color: $color-pink black;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: .5em;
        background-color: black;
      }
    &::-webkit-scrollbar-thumb {
        background-color: $color-pink;
        height: 60%;
        border: .01em solid black;
      }
    transition: transform .3s;
        
    @include respond(tab-port) {
        font-size: 2rem;
        padding: 2rem;
        margin: 2rem -2rem;
        height: 30rem;
    }
    
    @include respond(phone-port) {
        font-size: 2.2rem;
        padding: 2.4rem;
        margin: -6rem 0rem;
        height: 42rem;
    }
    
    &__icon {
        font-size: 6rem;
        background-image: linear-gradient(to right, $color-green-light, $color-pink);
        display: inline-block;
        -webkit-background-clip: text;
        color: transparent;

        transition: font-size 250ms ease-in-out;
    }
    
    &__text {
        color: $color-grey-light-1;
    }
    
    &:hover {
        transform: translateY(-1rem) scale(1.2);
        color:white;
        border:.24rem solid lighten($color-pink, 5%);
        border-radius:1rem;
        transition: all 145ms;
        box-shadow: .5rem 2rem 4rem rgba($color-black, .6);
        scrollbar-width: unset;

        .feature-box__icon {
            font-size: 2rem;
            color: $color-pink;
        }
        
        @include respond(tab-port-small) {
            transform: translateY(0) scale(1);
            .feature-box__icon {
                font-size: 4rem;
                color: $color-pink;
            }
        }
    }
    
}