*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit for better practice */
    box-sizing: inherit;
}

html {
    /* converted to  10px so it's easier to use rem values */
    /* 10px is 62.5% of the root default size (16px) */
    // therefore it defines what 1 rem is for the whole page
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}