body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    /*font-size: 16px;*/
    line-height: 1.7;
    background: linear-gradient(217deg, rgba(63, 94, 251,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(89, 193, 115,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(255, 195, 113,.8), rgba(0,0,255,0) 70.71%);
}

.heading-primary {
    color: $color-white;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 300;
        animation-name: comeForth;
        animation-duration: 2.3s;
        animation-timing-function: ease-out; 

        @include respond(tab-port-small) {
            font-size: 5.5rem;
        }
        
        @include respond(phone-land) {
            font-size: 5rem;
        }

        @include respond(phone-port) {
            font-size: 4rem;
        }
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 300;
        animation-name: appear;
        animation-duration: 1.5s;
        animation-delay: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        
        @include respond(phone-land) {
            font-size: 2rem;
        }

        @include respond(tab-port) {
            font-size: 2.5rem;
        }
    }
}

.disclaimer {
    font-size: 2.5rem;
    background: repeating-linear-gradient(45deg,yellow, yellow 10px, black 10px, black 20px);
    width: 100%;
    color: rgba(white, .9);
    padding: .6rem 0;
    margin-top: -6rem;
    margin-bottom: 6rem;
    text-align: center;
    letter-spacing: .7rem;
    border: .1em solid red;

    span{
        background: rgba(red, .75);
        padding: .2em 1em;
        border-radius: 1px;
    }

    @include respond(phone-land) {
        font-size: 2.2rem;
        padding: .4rem 0;
        letter-spacing: 0;
    }

    
    @include respond(big-desktop) {
        margin-left: -20%;
        width: 140%;
    }

    &::before,
    &::after {
        content: '🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨';
        display: block;
        width: 100%;
        height: 1em;
        padding-bottom: 2em;

        @include respond(phone-land) {
            margin-left: 5%;
            width: 90%;
        }
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    padding: 1rem 5rem;
    display: inline-block;
//    background-image: linear-gradient(to right, $color-bluegreen, $color-pink);
//    border-radius: 0 500rem 10rem 0;
//    transition: all 1s;
//    
//    &:not(:hover) {
//        -webkit-background-clip: text;
//        color: transparent;
//    }

}

[class^="section-"] .heading-secondary {
    background-image: linear-gradient(to right, $color-bluegreen, $color-pink);
    -webkit-background-clip: text;
    border-radius: 0 500rem 10rem 0;
    text-shadow: .5px .5px 1.2em rgba(0,0,0,.25);
    color: transparent;
}

[class^="section-"]:hover .heading-secondary {
    background-image: linear-gradient(to right, $color-bluegreen, $color-pink);
    -webkit-background-clip: unset;
    color: $color-grey-light-1;
    text-shadow: 1px 1px 2px rgba(0,0,0,.85);
    transition: all 1s;
}

.line {
    background-image: linear-gradient(to right, $color-bluegreen, $color-pink);
    width: inherit;
    height: .5rem;
    opacity: .75;

    @include respond(phone-land) {
        height: .2rem;
    }
}

[class^="col-"] {
    transition: all 1s;
    font-weight: 400;
    letter-spacing: 0.0625em;
//    &:not(:hover) {
//        -webkit-background-clip: text;
//        color: transparent;
//    }
//    &:hover {
//        background-color: $color-black;
//        color: $color-bluegreen !important;
//        text-shadow: none !important;
//    }
}

.heading-terciary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-pink;
    text-shadow: 1px 1px 2px rgba(0,0,0,.85);
    transition: color 200ms ease-in-out, text-shadow 250ms linear;

    @include respond(tab-port-small) {
        font-size: 2.6rem;
    }
    
}

.feature-box:hover {
    .heading-terciary {
        color: $color-grey-light-1;
        text-shadow: .2em .2em .1em $color-pink;
    }
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @include respond(phone-land) {
        font-size: 2rem;
    }
}

.footer {
    background-image: linear-gradient(to right, $color-pink, $color-bluegreen);
    border-radius: 0 500rem 500rem 300rem;
    width: 30rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1.5rem;
    color: white;
    text-shadow: .1em .1em .05em rgba(0,0,0,.75);
}