body {
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    /*font-size: 16px;*/
    line-height: 1.7;
    background: linear-gradient(217deg, rgba(63, 94, 251,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(89, 193, 115,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(255, 195, 113,.8), rgba(0,0,255,0) 70.71%);
}

.heading-primary {
    color: $color-white;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 300;
        animation-name: comeForth;
        animation-duration: 2.3s;
        animation-timing-function: ease-out; 

        @include respond(tab-port-small) {
            font-size: 5.5rem;
        }
        
        @include respond(phone-land) {
            font-size: 5rem;
        }

        @include respond(phone-port) {
            font-size: 4rem;
        }
    }

    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 300;
        animation-name: appear;
        animation-duration: 1.5s;
        animation-delay: .5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;
        
        @include respond(phone-land) {
            font-size: 2rem;
        }

        @include respond(tab-port) {
            font-size: 2.5rem;
        }
    }
}

.disclaimer {
    font-size: 3.5rem;
    background-color: $color-black;
    color: $color-orange-dark;
    padding: 2.5rem;
    margin-top: -6rem;
    margin-bottom: 6rem;
    text-align: center;
    letter-spacing: .7rem;
    border-radius: .85rem;

    @include respond(phone-land) {
        font-size: 2.5rem;
        padding: 1rem;
        letter-spacing: 0;
    }
}

.heading-secondary {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    padding: 1rem 5rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-bluegreen, $color-pink);
    border-radius: 0 500rem 10rem 0;
    transition: all 1s;
    
    &:not(:hover) {
        -webkit-background-clip: text;
        color: transparent;
    }

}

.line {
    background-image: linear-gradient(to right, $color-bluegreen, $color-pink);
    width: inherit;
    height: .5rem;
    opacity: .5;

    @include respond(phone-land) {
        height: .2rem;
    }
}

[class^="col-"] {
    transition: all 1s;
    &:not(:hover) {
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover {
        background-color: $color-black;
        color: $color-bluegreen !important;
        text-shadow: none !important;
    }
}

.heading-terciary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;

    @include respond(phone-land) {
        font-size: 2rem;
    }
}

.paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }

    @include respond(phone-land) {
        font-size: 2rem;
    }
}