.section-about {
    padding: 20rem 0;
    border-radius: 0 0 2rem 2rem;
    //use of margin-top to cover the polygon coming from the heading-primary
    margin-top: -20vh;

    @include respond(phone-port) {
        padding-top: 20vh;
    }
}

.section-features {
    padding: 20rem 0;
    background-image:linear-gradient(
        275deg,
        rgba($color-black, .2),
        rgba($color-pink-dark, .1)
    );
    background-size: fit;
    transform: skewY(-7deg);
    margin-top: 20rem;
    padding-top: 10rem; 

    @media (min-width: 30em) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-black, .2),
            rgba($color-orange, .4)
        );
        background-size: cover;
        margin-top: 10rem;
        padding-top: 10rem;
    }

    @media (min-width: 56.26em) {
        margin-top: -10rem;
        padding-top: 10rem; 
    }

    // universal selector (in this case) only selects all direct children of section-features
    & > * {
        transform: skewY(7deg);
    }

    h2 {
        text-shadow: .2rem .1rem rgba($color-black, .2);
    }
}